.description__container {
  position: relative;
  width: 100%;
  flex: 0.1;
  float: right;

  display: flex;
  flex-direction: row;

  font-size: 150%;
  text-align: center;
  align-items: center;

  margin-top: 20px;
  margin-right: 20px;
}

.description {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.4;
  font-size: 30px;
}

.home__button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.25;
}

.timer {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex: 0.3;
  display: flex;
  flex-direction: row;
}

.timer__icon {
  flex: 0.2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.timer__timer {
  flex: 0.8;
  height: 100%;
  display: flex;
  flex-direction: row;
  
}

.replay {
  display: flex;
  height: 100%;
  flex: 0.15;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  /* border: 1px solid black; */
  color: white;
  font-size: 22px;
}

.replay__history {
  display: flex;
  height: 100%;
  flex: 0.15;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 1px solid black; */
  color: white;
  font-size: 22px;
}

.task {
  margin-left: 6px;
}

