.description__container {
  position: relative;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 5d5307573385fb9c94ed7b084d7b287758271771
  flex: 0.1;
  float: right;

  display: flex;
  flex-direction: row;

  font-size: 150%;
  text-align: center;
  align-items: center;

  margin-top: 20px;
  margin-right: 20px;
}

#description {
  flex: 0.2;
}

#user_id {
  flex: 0.3;
}

#timer {
  flex: 0.5;

  display: flex;
  flex-direction: row;
}

