.gifticon-container {
	background-color: #666666;
	position: absolute;
	width: 70%;
	height: 60%;
	left: 50%;
	bottom: 35%;
	z-index: 20;
	text-align: center;
	opacity: 0.95;
	border-radius: 10px;
}

.gifticon-title {
	position: relative;
	text-align: center;
	font-size: xx-large;
	top: 10%;
}

.gifticon-code {
	position: relative;
	text-align: center;
	font-size: large;
	top: 35%;
}
.refund-code {
	position: relative;
	text-align: center;
	font-size: small;
	top: 20%;
}

.gifticon-warning {
	position: relative;
	text-align: center;
	font-size: large;
	top: 40%;
}
.gifticon-display {
	background-color: #e8e8e8;
	font-size: large;
	line-height: 200%;
	color: #000000;
	position: relative;
	width: 80%;
	height: 9%;
	top:55%;
	left: 10%;
}

.gifticon-buttons {
	position: relative;
	top:60%;
}


.refund-buttons {
	position: relative;
	top: 25%;
}

.refund-ok-buttons {
	position: relative;
	top: 50%;
}

