#totalContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#historyContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

#tableContainer {
    width: 100%;
    height: 100%;
}