.home {

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-image: url("../assets/home.png"); */
    /* background-size:100% 100%; */
    
}

.header {
    text-align: center;
}

.home-header {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 5%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-user {
    position: absolute;
    width: 30%;
    left: 70%;
    top: 15%;
    z-index: 2;
}

.ranking-label {
    position: absolute;
    z-index: 2;
    width: 25%;
    bottom: 8%;
    left: 2.5%;
}

.history-label {
    position: absolute;
    z-index: 2;
    width: 25%;
    bottom: 8%;
    left: 25%;
}


