.home {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/Home_base.png");
    background-size:100% 100%;
}

.header {
    text-align: center;
}


.home-id {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 32%;
    z-index: 2;
    color: #47AFEA;
    font-size: 24px;
}

.home-level {
    position: absolute;
    width: 30%;
    left: 59%;
    top: 32%;
    z-index: 2;
    font-size: 24px;
}

.home-rank {
    z-index: 2;
    left: 4%;
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-ladder1 {
    z-index: 2;
    left: 6%;
    top: 66%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-ladder2 {
    z-index: 2;
    left: 26.3%;
    top: 64%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-ladder3 {
    z-index: 2;
    left: 45.5%;
    top: 61.5%;
    position: absolute;
    width: 50%;
    height: 50%;
}

.home-ladder4 {
    z-index: 2;
    left: 69%;
    top: 43%;
    position: absolute;
    width: 100%;
    height: 100%;
}
.home-ladder5 {
    z-index: 2;
    left: 85%;
    top: 21.5%;
    position: absolute;
    width: 100%;
    height: 100%;
}




