.menus__container {
  width: 97%;
  left: 10%;
  color: white;
  flex: 0.5;
  margin: 10px 5px 10px 5px;
}

.menus {
  position: relative;
  margin: 10px 10px 5px 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

/* .menu-item__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-left: 4px;
  flex: 0.5;
  color: black;
} */

/* .menu-item__image__image {
  display: block;
  margin-left: auto;
  margin-right: auto 
} */

.menu-item__name {
  width: 100%;
  margin: 3px;
  flex: 0.2;
  font-size: 17px;
  color: black;
  margin-bottom: 10px;
  line-height:1.5em;
}

.menu-item__price {
  flex: 0.1;
  width: 100%;
  font-size: 15px;
  color: black;
}

.menu-item__button {
  margin-right: 4px;
}
