.menus__container {
  width: 100%;
  left: 10%;
  color: white;
  flex: 0.5;
}

.menus {
  position: relative;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.menu-item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  height: 150px;
  padding: 20px;
}

.menu-item__name {

  width: 100%;
  margin-left: 4px;
  color: black;
}

.menu-item__price {

  width: 100%;
  color: black;
}

.menu-item__button {
  margin-right: 4px;
}
