.number-list__container {
  width: 94%;
  left: 10%;
  flex: 0.5;
  margin: 0 7px 0 7px;
}

.number-list__container__gifticonOpen {
  width: 94%;
  left: 10%;
  flex: 0.5;
  margin: 0 7px 0 7px;
  border: 5px solid black
}

.number-item {
  display:inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 33%;
  height: 11.7vh;
  /* border-bottom: solid black 1px; */
  padding: 3px;
}


.number-item__name {
  display: inline-block;
  width: calc(50% - 4px);
  margin-left: 4px;
}

.number-item__price {
  display: inline-block;
  width: calc(50% - 69px);
}

.number-item__button {
  margin-right: 4px;
}
