.number-list__container {
  width: 94%;
  left: 10%;
  flex: 0.5;
  margin-left: 4%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.number-item {
  display:inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 33%;
  border-bottom: solid black 1px;
  padding: 8px 0;
}


.number-item__name {
  display: inline-block;
  width: calc(50% - 4px);
  margin-left: 4px;
}

.number-item__price {
  display: inline-block;
  width: calc(50% - 69px);
}

.number-item__button {
  margin-right: 4px;
}
