.pos {
  text-align: left;
  margin: auto;
  background: #8e796d;
  /* border: solid black 1px; */
  display: flex;
  flex-direction: row;
  
}

.left-content {
  left: 0;
  display: flex;
  flex-direction: column;
  flex: 0.62;
  height: 100vh;
  position: relative;
}

.right-content {
  right: 0;
  display: flex;
  flex-direction: column;
  flex: 0.38;
  height: 100vh;
}

.left-below__container {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  margin: 0 1% 1% 2%;
}