#rankingLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/base.png");
    background-size:100% 100%;


}

#rankingTemplate {
    position: relative;
    /*content : url("../assets/ranking_template.png");*/
    width: auto;
    height: auto;
    padding-left: 10%;
    padding-top: 7%;
    padding-right: 10%;
    padding-bottom: 10%;
    font-size: 0.3em;

}

#rankingContainer {
    width: 60%;
    height: 100%;
    opacity: 0.85;


}

#tableContainer {
    display: table;
    width: 100%;
    height: 80%;


}


#backButton {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

#level {
    text-align: center;
}

