#totalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/base.png");
    background-size:100% 100%;
}

#rankingContainer {
    width: 60%;
    height: 100%;
    opacity: 0.85;
}

#tableContainer {
    display: table;
    width: 100%;
    height: 100%;
}

#backButton {
    display: block;
    width: 20%;
    min-width: 70px;
    margin: 3% 75%;
    text-align: center;
}