.signInContainer {
    background-size: 100% 100%;


    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 50%;


}
.texts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.forms {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    
}

.ogogada {

    color: #ede2d5;
    font-size: 48px;
    margin: 10px 10px 20px 10px;

}

.si {
    color: #d5cabc;
    font-size: 36px;
    margin: 20px 10px 10px 10px;

}
