.menus__container {
  position: absolute;
  width: 65%;
  height: 100%;
  left: 0%;
}

.menus {
  position: relative;
}

.menu-item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  height: 200px;
  width: 25%;
  border-bottom: solid black 1px;
  padding: 8px 0;
}

.menu-item__name {
  position: relative;
  width: 100%;
  margin-left: 4px;
}

.menu-item__price {
  position: relative;
  width: 100%;
}

.menu-item__button {
  margin-right: 4px;
}
