.menu-list__container {
  position: absolute;
  width: 40%;
  height: 100%;
}

.menu-list {
  position: relative;
}

.menu-item {
  position: relative;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-bottom: solid black 1px;
  padding: 8px 0;
}

.menu-item__name {
  display: inline-block;
  width: calc(50% - 4px);
  margin-left: 4px;
}

.menu-item__price {
  display: inline-block;
  width: calc(50% - 69px);
}

.menu-item__button {
  margin-right: 4px;
}
